 .alert--info{
                background: #e3e3e3;
            }
              .alert--success{
                background: #8ac48a;
            }
              .alert--error{
                background: red;
            }